/*
Layout, size, color
*/

html {
  background: url(images/space_horizon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  width: 400px;
  margin-top: 20%;
  margin-left: -1000px;
  /*margin-right: auto;*/
  /*animation-name: intro;
  animation-duration: 2s;*/
}

.col {
  float: left;
}

.wide div[class^="row"],[class*=" row"] {
  width: 40px;
  height: 17px;
}

.thin div[class^="row"],[class*=" row"]{
  width: 6px;
  height: 17px;
}

.row-1 {
  background-color: #FF0000;
}
.row-2 {
  background-color: #FF9900;
}
.row-3 {
  background-color: #FFFF00;
}
.row-4 {
  background-color: #33FF00;
}
.row-5 {
  background-color: #0099FF;
}
.row-6 {
  background-color: #6633FF;
}

/* Place cat on rainbow */
img {
  position: relative;
  margin-top: -20px;
  margin-left: -66px;
}

/*
Positon
*/

/* Odd Wide Columns */
.col:nth-of-type(4n+1) {
  animation-name: wave;
  animation-duration: .15s;
  animation-timing-function: step-start;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* Even Wide Columns */
.col:nth-of-type(4n+3) {
  animation-name: wave;
  animation-duration: .15s;
  animation-timing-function: step-start;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
/* Narrows Columns*/
.col:nth-of-type(4n+2) {
  margin-top: 5px;
}

/*
Animation
*/

@keyframes wave {
  50% {
    transform: translateY(5px);
  }
}

/*@keyframes intro {
  0% {
    opacity: .25;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
  }
}*/
